<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.XamarinEx" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
	<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
	<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
	<permission android:name="com.example.XamarinExample.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.example.XamarinExample.permission.C2D_MESSAGE" />
	<receiver android:name="com.streethawk.library.push.GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		<intent-filter>
			<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			<!-- Add  package_name here -->
			<category android:name="com.example.XamarinEx" />
		</intent-filter>
	</receiver>
	<PropertyGroup>
		<JavaMaximumHeapSize>1G</JavaMaximumHeapSize>
	</PropertyGroup>
	<application android:label="XamarinEx.Android" android:icon="@drawable/icon" android:largeHeap="true">
		<!-- Add your Own App Key here-->
		<meta-data android:name="app_key" android:value="SHPushPing_bison" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<service android:name="com.streethawk.library.push.SHGcmListenerService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</service>
		<receiver android:name="com.streethawk.library.feeds.SHCoreModuleReceiver" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="com.streethawk.intent.action.APP_STATUS_NOTIFICATION" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.streethawk.library.push.GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<!--Add  package_name here-->
				<category android:name="com.example.XamarinEx" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.streethawk.library.push.PushNotificationBroadcastReceiver">
			<intent-filter>
				<action android:name="com.streethawk.intent.action.pushnotification" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_DECLINED" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_POSTPONED" />
				<action android:name="com.streethawk.intent.action.gcm.STREETHAWK_ACCEPTED" />
				<action android:name="com.streethawk.intent.action.APP_STATUS_NOTIFICATION" />
				<action android:name="com.streethawk.intent.action.MSG_FROM_CORE" />
			</intent-filter>
		</receiver>
		<service android:name="com.streethawk.library.push.SHInstanceIDListenerService" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID" />
			</intent-filter>
		</service>
	</application>
</manifest>